<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="text-center mb-5">
                <a href="#!">
                  <img src="/tailwebs-logo.png" alt="Tailwebs Logo" width="175" height="30">
                </a>
              </div>
            </div>
          </div>

          <h2 class="text-center mb-4">Change your password</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="row gy-3 gy-md-4">
              <!-- New Password Field -->
              <div class="col-12">
                <div class="field">
                  <%= f.label :password, "New password", class: "form-label" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
                </div>
              </div>

              <div class="col-12">
                <div class="field">
                  <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>
              </div>

              <div class="col-12">
                <div class="d-grid actions">
                  <%= f.submit "Change my password", class: "btn btn-primary btn-lg" %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle">
              <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center">
                <%= render "devise/shared/links", locals: {style: "link-secondary text-decoration-none"} %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
